<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Crear materia</h3>
    </div>
    <form [formGroup]="subjectForm" (ngSubmit)="registerSubject()" novalidate>
      <div class="box-body">
        <div [ngClass]="{ 'form-group': true, 
        'has-error': subjectForm.get('name').errors && subjectForm.get('name').touched }">
          <label for="exampleInputEmail1">(*)Nombre</label>
          <input type="text" class="form-control"
                  placeholder="Nombre de la materia" name="name" formControlName="name">
          <div *ngIf="subjectForm.get('name').errors && subjectForm.get('name').touched">
            <span *ngIf="subjectForm.get('name').hasError('minlength')" class="help-block">EL tamanio minimo es 2</span>
            <span *ngIf="subjectForm.get('name').hasError('required')" class="help-block">EL campo es requerido</span>
            <span *ngIf="subjectForm.get('name').hasError('maxlength')" class="help-block">EL tamanio maximo es 100</span>
          </div>
        </div>
        <div [ngClass]="{ 'form-group': true, 
        'has-error': subjectForm.get('code').errors && subjectForm.get('code').touched }">
          <label for="exampleInputEmail1">(*)Codigo</label>
          <input type="text" class="form-control" 
                formControlName="code" placeholder="Codigo de la materia">
          <div *ngIf="subjectForm.get('code').errors && subjectForm.get('code').touched">
            <span *ngIf="subjectForm.get('code').hasError('minlength')" class="help-block">EL tamanio minimo es 2</span>
            <span *ngIf="subjectForm.get('code').hasError('required')" class="help-block">EL campo es requerido</span>
            <span *ngIf="subjectForm.get('code').hasError('maxlength')" class="help-block">EL tamanio maximo es 100</span>
          </div>
        </div>
        <div class="box-footer">
          <button class="btn btn-default" (click)="cancel()">Cancelar</button>
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!subjectForm.valid">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</section>