/* You can add global styles to this file, and also import other style files */
.jam-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -2px;
    background-color: #ffffff;
}